# Enhanced Verification

::: choptuik_ac_bc.enhanced_verification
    options:
      show_root_heading: true
      heading_level: 3
